<?xml version="1.0" ?>
<robot name="photonfocus_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="photonfocus_camera" params="parent">

        <xacro:include filename="$(find photonfocus_camera_description)/urdf/materials.xacro" />
        <xacro:include filename="$(find photonfocus_camera_description)/urdf/photonfocus_camera.gazebo.xacro" />
        
        <!--joint between {parent} and link_0-->
        <joint name="${parent}_${endoscope_name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${endoscope_name}_link_0"/>
            <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
        </joint>

        <link name="link_0">
            <inertial>
                <origin rpy="0 0 0" xyz="0.0004526550759665437 0.0005013636920587692 0.01966691095028127"/>
                <mass value="0.40283012340707985"/>
                <inertia ixx="0.000188" ixy="-0.0" ixz="-5e-06" iyy="0.000191" iyz="-0.0" izz="0.000112"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://photonfocus_camera_description/meshes/link_0.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="silver"/>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://photonfocus_camera_description/meshes/link_0.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <joint name="joint_1" type="fixed">
            <origin rpy="0 0 0" xyz="-0.005763 0.000949 0.059647"/>
            <parent link="link_0"/>
            <child link="link_1"/>
        </joint>

        <link name="link_1">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.0029521431378939584 -0.015030724993614833 0.04528035169041975"/>
                <mass value="0.5898731797531614"/>
                <inertia ixx="0.000316" ixy="4e-06" ixz="-5e-06" iyy="0.000327" iyz="1.2e-05" izz="0.000271"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.005763 -0.000949 -0.059647"/>
                <geometry>
                    <mesh filename="package://photonfocus_camera_description/meshes/link_1.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="silver"/>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.005763 -0.000949 -0.059647"/>
                <geometry>
                    <mesh filename="package://photonfocus_camera_description/meshes/link_1.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <joint name="joint_2" type="fixed">
            <origin rpy="0 0 0" xyz="0.009 0.12 0.04"/>
            <parent link="link_1"/>
            <child link="link_2"/>
        </joint>

        <link name="link_2">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.003122152950603064 -0.036121615255736886 0.00045540214292298653"/>
                <mass value="0.7434193408324884"/>
                <inertia ixx="0.003099" ixy="2e-06" ixz="1e-06" iyy="0.000111" iyz="-1.5e-05" izz="0.003097"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="-0.003237 -0.120949 -0.099647"/>
                <geometry>
                <mesh filename="package://photonfocus_camera_description/meshes/link_2.stl" scale="0.001 0.001 0.001"/>
                    </geometry>
                <material name="silver"/>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="-0.003237 -0.120949 -0.099647"/>
                <geometry>
                    <mesh filename="package://photonfocus_camera_description/meshes/link_2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
    
        <joint name="joint_3" type="fixed">
            <origin rpy="0 0 0" xyz="-0.003223 0.103999 0.00727"/>
            <parent link="link_2"/>
            <child link="virtual_link_1"/>
        </joint>

        <link name="link_cm"/>

        <!-- TODO: add optical frame https://answers.ros.org/question/232534/gazebo-camera-frame-is-inconsistent-with-rviz-opencv-convention/ -->




        <!-- extensions -->
        <xacro:storz_endoscope_gazebo endoscope_name="${endoscope_name}" robot_name="${robot_name}"/>

    </xacro:macro>
</robot>
