<launch>

    <!-- define arguments -->
    <arg name="sim" default="true"/>
    <arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_name" default="photonfocus_camera" />

    <!-- load fri node or simulation -->
    <group if="$(arg sim)">
        <include file="$(find med7pf_moveit_config)/launch/demo_gazebo.launch">
        </include>
    </group>

    <!-- load real robot -->
    <group unless="$(arg sim)" ns="$(arg robot_name)">
        <include file="$(find lbr_fri_ros)/launch/lbr_fri_ros.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <!-- load movegroup -->
    <group ns="$(arg robot_name)">
        <include file="$(find med7pf_moveit_config)/launch/move_group.launch">
        </include>
        <include file="$(find med7pf_moveit_config)/launch/moveit_rviz.launch"/>
    </group>

    <!-- Spawn controller - simple pose controller -->
    <!-- <group ns="$(arg robot_name)">

        <include file="$(find lbr_control)/launch/cartesian_pose.launch"/>

    </group>         -->

</launch>
