<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find med7pf_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="photonfocus_camera" output="screen" args="--namespace=/photonfocus_camera joint_state_controller arm_position_controller --timeout 20"/>

</launch>
