<?xml version="1.0" encoding="utf-8"?>
<robot name="med7_photonfocus" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find lbr_description)/urdf/med7.xacro"/>
	<xacro:include filename="$(find PFunit-rotated-allbodies_description)/urdf/PFunit-rotated-allbodies.xacro"/>
	
	<!--  Arguments for the med7 macro  -->
    	<xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    	<xacro:arg name="robot_name" default="lbr"/>
    	<xacro:arg name="origin_xyz" default="0 0 0"/>
    	<xacro:arg name="origin_rpy" default="0 0 0"/>
    	
	<xacro:arg name="camera_name" default="photonfocus_camera"/>
	
	<link name="world">
	<xacro:med7 hardware_interface="$(arg hardware_interface)" parent="world" robot_name="$(arg robot_name)">
        <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
    	</xacro:med7>
	
	<joint name="med7_link_ee-eef_base_link" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<parent link="eef_base_link"/>
		<child link="med7_link_ee"/>
	</joint>
</robot>
